<%! from django.utils.translation import ugettext as _ %>
% if not is_root:
% if is_parent_reorderable:
<li class="vertical-element is-draggable studio-xblock-wrapper" data-locator="${locator}">
% else:
<div class="studio-xblock-wrapper" data-locator="${locator}">
% endif
<div class="vert" data-id="${xblock.id}">
<section class="wrapper-xblock level-nesting is-collapsible" data-locator="${locator}">
% endif
    <header class="xblock-header">
        <div class="header-details">
            <a href="#" data-tooltip="${_('Expand or Collapse')}" class="action expand-collapse collapse">
                <i class="icon-caret-down ui-toggle-expansion"></i>
                <span class="sr">${_('Expand or Collapse')}</span>
            </a>
            <span>${xblock.display_name_with_default | h}</span>
        </div>
        <div class="header-actions">
            <ul class="actions-list">
                % if not is_root and is_parent_reorderable:
                <li class="action-item action-drag">
                    <span data-tooltip="${_('Drag to reorder')}" class="drag-handle action"></span>
                </li>
                % endif
            </ul>
        </div>
    </header>
    <article class="xblock-render">
${content}
    </article>
% if not is_root:
</section>
</div>
% if is_parent_reorderable:
</li>
% else:
</div>
% endif
% endif
